body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1 {
    color:grey;
    font-family:verdana;
}
.maindiv  {
    background-color:white;
    font-family:arial;
    color:black;
    padding: 20px;
    border-radius: 25px;
    /* Align the div to the center of the page */
    margin: auto;
    /*The width value is changed from 300px to 480px to make it more similar with the Sample provided for Simple Interest Calculator*/
    width: 480px;
   
}
/* Styling for the  divTable, making proper allignment */
.divTable {
    margin: auto;
    width: 350px;
}


